:root{
    background-color:var(--background-color);
    --background-color: #2148C0;
    --text-color:#666666;
    --color:#ffff;
    --font-size:20px;
    --place-color:#F5F5F5;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color);
    padding: 20px 0px 20px 0px ;
    font-size: var(--font-size);
    
}
.text{
    color: var(--text-color);
    font-size: var(--font-size);
    margin-top: 60px;
}
.authorization{
    display: flex;
    justify-content: center;
    align-items: center;
}
.authorization__body{
    width: 700px;
    height: 500px;
    background-color:var(--color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

}
.forget{
    text-decoration: none;
    display: flex;
    justify-content: end;
    color: var(--text-color);
    margin-top: 10px;
    font-size: var(--font-size);
    
}
.email{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size:var(--font-size) ;
}
.email_place{
    width: 550px;
    height: 38px;
    font-size: var(--font-size);
    background-color: var(--place-color);
    border: none;
    border-radius: 10px;
}
.password{
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: var(--font-size);
}
.password_place{
    width: 550px;
    height: 38px;
    font-size: var(--font-size);
    background-color: var(--place-color);
    border: none;
    border-radius: 10px;
}
.password_container{
   position: relative;
}
#password_show{
    position: absolute;
    right: 5px;
    top: 30%;
    color: var(--text-color);
}
.btn{
    width: 550px;
    height: 48px;
    background-color: #2148C0;
    border-radius: 10px;
    color: var(--color);
    font-size: var(--font-size);
    border: none;
}